<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GIFs | Giphy Lib</title>
  </head>
  <body>
    <div class="w-screen min-h-screen flex flex-col">
      <app-navbar></app-navbar>

      <!-- Popup for Active GIF -->
      <div
        *ngIf="activeGif"
        class="w-screen h-screen absolute top-0 left-0 flex justify-end z-10 bg-app-blue/30"
      >
        <div class="w-3/12 flex flex-col bg-app-blue px-6 py-8">
          <span class="text-white font-bold text-xl mb-4 text-center">{{
            activeGif.title
          }}</span>
          <img [src]="activeGif.image" class="w-96 rounded my-6" alt="" />
          <div class="text-white flex flex-col text-lg items-center">
            <span class="flex items-center"
              ><span class="font-semibold">Width:</span> &nbsp;
              {{ activeGif.width }}</span
            >
            <span class="flex items-center"
              ><span class="font-semibold">Height:</span>&nbsp;
              {{ activeGif.height }}</span
            >
            <a [href]="activeGif.image" download="unsplash_image.jpg">
              <button
                class="bg-white w-44 h-10 flex text-app-blue rounded-lg font-semibold items-center justify-center m-auto mt-4"
              >
                <i class="text-lg fa fa-download text-app-blue mr-2"></i>
                <span>Download</span>
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Loading Skeleton -->
      <app-skeleton *ngIf="isLoading"></app-skeleton>

      <!-- GIF Grid -->
      <div
        *ngIf="!isLoading && gifs.length > 0"
        class="flex flex-wrap justify-center px-14 gap-4"
      >
        <gif
          *ngFor="let gif of gifs"
          [gif]="gif"
          [onGifClick]="onGifClick.bind(this)"
        ></gif>
      </div>

      <!-- No Results Message -->
      <div
        *ngIf="!isLoading && gifs.length === 0"
        class="text-center text-app-blue font-semibold py-8"
      >
        No results found.
      </div>
    </div>
  </body>
</html>
